{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if user.is_authenticated %}
    <title>{{ user.first_name }} {{ user.last_name }}</title>
    {% else %}
    <title>DataStore</title>
    {% endif %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    {% if user.is_authenticated %}
    <h3 class="my-0 mr-md-auto font-weight-normal">{{ user.first_name }} {{ user.last_name }}</h3>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{% url 'main_page' %}">Главная страница</a>
        <a class="p-2 text-dark" href="{% url 'report' %}">Отчетная страница</a>
    </nav>
    <a class="btn btn-outline-primary" href="{% url 'logout' %}">Выйти</a>
    {% else %}
    <h3 class="my-0 mr-md-auto font-weight-normal">DataStore</h3>
    <a class="btn btn-outline-primary" href="{% url 'register' %}">Регистрация</a>&nbsp
    <a class="btn btn-outline-primary" href="{% url 'login' %}">Войти</a>
    {% endif %}
</div>

{% block mainbody %}
{% endblock mainbody %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
</body>
</html>
